:root {
    --one: rgb(23, 23, 23);
    --two: rgb(255, 255, 255);
    /* --three: rgb(150, 36, 36); */
    --three: rgb(108, 32, 136);
    --four: rgb(29, 47, 63);


    /* --three: rgb(23, 23, 23);
    --two: rgb(255, 255, 255);
    --one: rgb(196, 31, 31); */



    --margin: 30px

    
}